* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

 h3{
  margin-bottom: 16px;
 }
 
 .App {
  text-align: center;
  padding: 20px;
 }
 
 nav {
  margin-top: 20px;
  margin-bottom: 20px;
 }
 
 nav ul {
  list-style: none;
 }
 
 .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
 }
 
 .grid-item {
  background-color: pink;
  padding: 40px;
  border-radius: 20px;
 } 

 .grid-item  a{
  display: block;
  text-decoration: none;
  padding: 20px 10px;
  background-color: rgb(230, 162, 36);
  border-radius: 10px;
  color: white;
  font-weight: bold;
 }

 .grid-item a:hover{
  background-color: rgb(209, 147, 32);
 }